[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/MontaVista-OpenSourceTechnology/poky.git
	branch = thud
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-openembedded.git
	branch = thud
[submodule "layers/meta-clang"]
	path = layers/meta-clang
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-clang.git
	branch = thud
[submodule "layers/meta-virtualization"]
	path = layers/meta-virtualization
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-virtualization.git
	branch = thud
[submodule "layers/meta-qa"]
	path = layers/meta-qa
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-qa.git
	branch = thud
[submodule "layers/meta-montavista-cgx"]
	path = layers/meta-montavista-cgx
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-montavista-cgx.git
	branch = thud
[submodule "layers/meta-selinux"]
	path = layers/meta-selinux
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-selinux.git
	branch = thud
[submodule "layers/meta-security"]
	path = layers/meta-security
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-security.git
	branch = thud
[submodule "layers/meta-cgl"]
	path = layers/meta-cgl
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-cgl.git
	branch = thud
[submodule "layers/meta-cloud-services"]
	path = layers/meta-cloud-services
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-cloud-services.git
	branch = thud
[submodule "layers/meta-montavista-cgl"]
	path = layers/meta-montavista-cgl
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-montavista-cgl.git
	branch = thud
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-raspberrypi.git
	branch = thud
